body {
  font-family: calibri, "Gill Sans";
}

h1, h2, h3, h4, p {
  margin: 0;
  font-weight: lighter;
}

.works-header {
  margin: 10px 0 10px 0;
  color: #686868;
  width: 100%;
  text-align: center;
}

.heading {
  border-bottom: 2px solid #7d97ad;
}

.pad {
  padding: 1.2em;
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 15%;
  min-width: 50px;
  max-width: 100px;
  height: 100%;
  padding: 1%;
}

.info {
  text-align: right;
  width: 83%;
}

.content {
  margin-top: 15px;
}

.caption {
  background-image: url(../img/main_image.jpg);
  background-size: cover;
  height: 360px;
  align-items: flex-end;
}

.quote {
  padding: 15px 15px 20px 15px;
  font-weight: bold;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.caption-quote {
  margin-bottom: 10px;
}

.images {
  width: 100%;
  min-height: 160px;
  margin-top: 5px;
}

.works {
  justify-content: center;
  padding-bottom: 20px;
}

.project {
  width: 80%;
  min-width: 204px;;
  text-align: center;
  margin-bottom: 10px;
}

.project:last-of-type {
  margin-bottom: 0;
}

.project:hover {
  cursor: pointer;
}

.link {
  font-size: 13px;
  color: black;
  text-decoration: none;
  margin: 0;
}

@media screen and (min-width: 647px) {
  .works-header {
    text-align: left;
  }
}

@media screen and (min-width: 460px) {
  .project {
    width: calc((100% - 20px) / 3);
    margin: 0 10px 0 0;
  }

  .project:last-of-type {
    margin-right: 0;
  }

  .works-header {
    font-size: 30px;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 23px;
  }
}

@media screen and (max-width: 387px) {
  .wrap-container {
    justify-content: center;
  }

  .info, .quote {
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  .wrap-container, .content {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}